*.gem

/.bundle/
/lib/bundler/man/
/tmp/repo/
/tmp/source
/spec/fixtures/repo/
/spec/fixtures/source/
/spec/fixtures/work/
/spec/fixtures/local_repo/
/spec/fixtures/remote_repo/
/spec/fixtures/queue_manager/populated_queue
/features/fixtures/repo/
/features/fixtures/source/
/features/fixtures/work/
/features/fixtures/local_repo/
/features/fixtures/remote_repo/

/work/queue/*
/work/processed/*
/work/error/*

Gemfile.lock
.ruby-version
.ruby-gemset
